// Bring page up to match margins.

#main {
  padding-top: 74px;
  padding-bottom: 74px;
}

#main-outlet {
  width: calc(100% - 70px);
}

header.d-header .panel {
  margin-top: -3px;
}

// Reduce drop shadow for header.

header.d-header {
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
}

// Avatar to circle.

img.avatar {
    border-radius: 50%;
}