// Don't show suggestion to create new topic.

.footer-message {
  display: none;
}

// Extend page to align with header width.

#main-outlet {
  max-width: 1024px;
}

// Bring page up slightly.

#main {
  padding-top: 110px;
  padding-bottom: 110px;
}

// Restore h3 bold formatting.

h3 {
  font-weight: 700;
}

// Reduce size of code font.

code, kbd, pre, samp {
  font-size: 13.5px;
}

// Code block format: darken, round corners, padding.

pre code {
  border-radius: 3px;
  padding: 0.55em 0.7em 0.4em;
  background: #f6f6f6;
}

// Show 'command' examples with dark theme.

pre code.lang-command {
  color: #FFF;
  background-color: #999;
}

// Show 'output' examples with darker background.

pre code.lang-output {
  background-color: #e2e2e2;
}

// Tweak button format.

.copy-codeblocks .copy-cmd {
  border: none;
  border-radius: 2px;
}

.btn,
img.logo-small,
.nav-pills > li > a,
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 2px;
}

// Command help option format.

.cooked table td.guild-cmd-option {
  white-space: nowrap;
  padding-right: 8px;
  vertical-align: baseline;
}

// Guild document section.

.guild-docs-section ul {
  list-style-type: none;
  padding-left: 0;

  li {
    line-height: 1.8;

    svg {
      color: desaturate($tertiary, 100%);
      margin-right: 0.3em;
    }
  }
}

.guild-docs-commands-section ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));

  li {
    line-height: inherit;
  }
}

// Header formatting.

.list-controls .combo-box .combo-box-header {
  border: 1px solid #e9e9e9;
}

// Header buttons.

.select-kit.dropdown-select-box .dropdown-select-box-header,
.list-controls .btn {
  background-color: #f6f6f6;
}

// Reinstate highlights for selected nav option.

.nav-pills > li.active > a,
.nav-pills > li > a.active {
  color: #fff;
  background: #ff505a !important;
}

// Nothing between breadcrumbs.

ol.category-breadcrumb {
  border: none;
}

// Captions - denoted using data-guild-class="caption"

.caption {
  color: #646464;
  font-style: italic;
  padding: 0 0.67em;
}

// Header links color.

.custom-header-links .headerLink a {
  color: #283593;
}

// Onebox: GitHub link style.

.d-toc-regular .d-toc-ignore {
  font-size: unset;
  font-weight: normal;
}

// Onebox: border and margin.

aside.onebox {
  all: unset;
}

pre.onebox {
  margin: 0;
  
  code ol.lines {
    margin: 0 0 0 20px;
    padding-inline-start: 20px;
    
    li {
      border: none;
      margin-left: 0;
    }
  }
}

// Onebox: code background consistent with other code.

pre.onebox code {
  background-color: #f6f6f6;
}

// Onebox: lighten GitHub icon

aside.onebox.githubblob .source {
  opacity: 0.7;
   a {
     color: #666;
   }
}